.blog
  &__container
    width: 100%
    border: 1px solid #000
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px

  &__post
    width: 100%
    height: 400px
    background: #ffffff
    border-radius: 10px

    &__content
      width: 100%
      background: #000

    &__description
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
      text-overflow: ellipsis