@use "../../styles/variables" as v

.auth
  width: 500px
  background: #ffffff
  border-radius: 10px

  &Block
    border: 1px solid #000

.verify
  &Container
    display: grid
    grid-template-columns: repeat(6, 60px)
    gap: 60px
